<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.qym.mapper.FlowerMapper">
  	<select id="selAll" resultType="Flower" parameterType="map">
  		select * from t_flower limit #{pageStart},#{pageSize}
  	</select>
  	<select id="selByPage" resultType="long">
  		select COUNT(*) from t_flower
  	</select>
  </mapper>